@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 100;
  font-style: normal;
}

body {
  background-color: #f7f7f8 !important;
  margin-top: 20px !important;
}

.btn-link {
  background-color: #ff9500 !important;
  color: white !important;
  text-decoration: none !important;
  border: none;
  border-radius: 6px !important;
}

.login-button {
  border: none;
  background-color: #ff9500;
  color: white;
}

.btn {
  color: #262626 !important;
}

.nav-link {
  color: #262626 !important;
}

.main-heading {
  color: #262626;
}

.main-paragraph {
  color: #59595a;
}

.design-section {
  background-color: white;
}

.orange-color {
  color: #ff9500;
}

.shape {
  position: absolute;
}

.card {
  border: none !important;
}

.btn-orange {
  background-color: #ff9500;
  color: white !important;
  border: none !important;
}

.footer-headings {
  color: #262626;
}

.footer-text {
  color: #59595a !important;
}

.copyright-text {
  color: #656567;
}

.paragraph {
  color: #262626 !important;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.footer-section {
  background-color: white;
}

.hr-color {
  color: #f1f1f3;
}

.shape-paragraph {
  color: #59595a;
}

@media only screen and (min-width: 250px) and (max-width: 374px) {
  /* extra small screen */
  .card {
     height: 300px !important;
  }

  body {
    margin-top: 20px !important;
  }

  .btn-link {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
  }

  .login-button {
    padding: 12px 24px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 6px;
  }

  .btn {
    font-size: 14px !important;
    font-weight: 400px !important;
  }

  .nav-link {
    font-size: 14px !important;
    font-weight: 400 !important;
  }

  .margin-top1 {
    margin-top: 80px;
  }

  .main-heading {
    font-size: 38px;
    font-weight: 600;
  }

  .main-paragraph {
    font-size: 16px;
    font-weight: 400;
  }

  .margin-top2 {
    margin-top: 60px;
  }

  .margin-top3 {
    margin-top: 100px;
  }

  .design-section {
    padding: 60px 30px !important;
  }

  .shape {
    bottom: -98px;
    right: -2px;
  }

  .shape-img {
   height: 200px;
   width: 200px;
  }

  .btn-orange {
    font-size: 14px !important;
    font-weight: 600 !important;
    border-radius: 6px !important;
    padding: 14px 20px;
  }

  .footer-headings {
    font-size: 18px;
    font-weight: 600;
  }

  .footer-text {
    font-size: 16px !important;
    font-weight: 400 !important;
  }

  .margin-bottom {
    margin-bottom: 10px;
  }

  .margin-bottom2 {
    margin-bottom: 8px;
  }

  .mail-padding {
    padding: 4px;
  }

  .copyright-text {
    font-size: 14px;
  }

  .paragraph {
    font-size: 16px !important;
    font-weight: 400 !important;
  }

  .footer-section {
    padding: 60px 30px 20px 30px;
  }

  .shape-paragraph {
    font-size: 17px !important;
    font-weight: 400;
  }
  
/* extra small screen completed */

}

@media only screen and (min-width: 375px) and (max-width: 768px) {
  /* small screen  */

  body {
    margin-top: 40px !important;
  }

  .btn-link {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
  }

  .login-button {
    padding: 12px 24px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 6px;
  }

  .btn {
    font-size: 14px !important;
    font-weight: 400px !important;
  }

  .nav-link {
    font-size: 14px !important;
    font-weight: 400 !important;
  }

  .margin-top1 {
    margin-top: 50px;
  }

  .main-heading {
    font-size: 28px;
    font-weight: 600;
  }

  .main-paragraph {
    font-size: 16px;
    font-weight: 400;
  }

  .skillbridge-padding {
    padding-bottom: 30px;
  }

  .margin-top2 {
    margin-top: 60px;
  }

  .margin-top3 {
    margin-top: 100px;
  }

  .margin-top4 {
    margin-top: 20px !important;
  }

  .design-section {
    padding: 60px 60px !important;
  }

  .shape {
    bottom: -98px;
    right: -26px;
  }

  .shape-img {
    height: 235px !important;
    width: 235px !important;
  }

  .btn-orange {
    font-size: 14px !important;
    font-weight: 600 !important;
    border-radius: 6px !important;
    padding: 14px 20px;
  }

  .footer-headings {
    font-size: 18px;
    font-weight: 600;
  }

  .footer-text {
    font-size: 16px !important;
    font-weight: 400 !important;
  }

  .margin-bottom {
    margin-bottom: 10px;
  }

  .margin-bottom2 {
    margin-bottom: 8px;
  }


  .mail-padding {
    padding: 4px;
  }

  .copyright-text {
    font-size: 14px;
  }

  .paragraph {
    font-size: 16px !important;
    font-weight: 400 !important;
  }

  .footer-section {
    padding: 60px 30px 20px 30px;
  }

  .shape-paragraph {
    font-size: 17px !important;
    font-weight: 400;
  }

  .card-body {
    padding: 30px !important;
  }

  .card {
    height: 320px !important;

  }
}
/* small screen completed */

@media only screen and (min-width: 769px) and (max-width: 992px) {
  /* medium screen */
  .card {
    height: 380px !important;
  }

  body {
    margin-top: 20px !important;
  }

  .btn-link {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
  }

  .login-button {
    padding: 12px 24px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 6px;
  }

  .btn {
    font-size: 14px !important;
    font-weight: 400px !important;
  }

  .nav-link {
    font-size: 14px !important;
    font-weight: 400 !important;
  }

  .margin-top1 {
    margin-top: 80px;
  }

  .main-heading {
    font-size: 38px;
    font-weight: 600;
  }

  .main-paragraph {
    font-size: 16px;
    font-weight: 400;
  }

  .margin-top2 {
    margin-top: 60px;
  }

  .margin-top3 {
    margin-top: 100px;
  }

  .design-section {
    padding: 60px 60px !important;
  }

  .shape {
    bottom: -98px;
    right: -26px;
  }

  .shape-img {
    height: 235px !important;
    width: 320px !important;
  }

  .btn-orange {
    font-size: 14px !important;
    font-weight: 600 !important;
    border-radius: 6px !important;
    padding: 14px 20px;
  }

  .footer-headings {
    font-size: 18px;
    font-weight: 600;
  }

  .footer-text {
    font-size: 16px !important;
    font-weight: 400 !important;
  }

  .margin-bottom {
    margin-bottom: 10px;
  }

  .margin-bottom2 {
    margin-bottom: 8px;
  }

  .mail-padding {
    padding: 4px;
  }

  .copyright-text {
    font-size: 14px;
  }

  .paragraph {
    font-size: 16px !important;
    font-weight: 400 !important;
  }

  .footer-section {
    padding: 60px 30px 20px 30px;
  }

  .shape-paragraph {
    font-size: 17px !important;
    font-weight: 400;
  }

  .card-body {
    padding: 40px !important;
  }
}
/* medium screen completed */

@media only screen and (min-width: 993px) and (max-width: 1200px) {
  /* large screen */

  body {
    background-color: #f1f1f3 !important;
    margin-top: 20px !important;
  }

  .btn-link {
    border-radius: 6px !important;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
  }

  .login-button {
    padding: 12px 24px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 6px !important;
  }

  .btn {
    font-size: 14px !important;
    font-weight: 400px !important;
  }

  .nav-link {
    font-size: 14px !important;
    font-weight: 400 !important;
  }

  .margin-top1 {
    margin-top: 80px;
  }

  .main-heading {
    font-size: 38px;
    font-weight: 600;
  }

  .main-paragraph {
    font-size: 16px;
    font-weight: 400;
  }

  .margin-top2 {
    margin-top: 60px;
  }

  .margin-top3 {
    margin-top: 100px;
  }

  .design-section {
    padding: 60px 60px !important;
  }

  .shape {
    bottom: 1px;
    right: 180px;
  }

  .shape-img {
    height: 234px !important;
    width: 271px !important;
    position: absolute;
    right: -76px;
    bottom: -1px;
  }

  .btn-orange {
    font-size: 14px !important;
    font-weight: 600 !important;
    border-radius: 6px !important;
    padding: 14px 20px;
  }

  .footer-headings {
    font-size: 18px;
    font-weight: 600;
  }

  .footer-text {
    font-size: 16px !important;
    font-weight: 400 !important;
  }

  .margin-bottom {
    margin-bottom: 10px;
  }

  .margin-bottom2 {
    margin-bottom: 8px;
  }

  .mail-padding {
    padding: 4px;
  }

  .copyright-text {
    font-size: 14px;
  }

  .paragraph {
    font-size: 16px !important;
    font-weight: 400 !important;
  }

  .footer-section {
    padding: 60px 30px 20px 30px;
  }

  .shape-paragraph {
    font-size: 17px !important;
    font-weight: 400;
  }

  .card-body {
    padding: 40px !important;
  }

  .card {
    height: 330px !important;
  }
}
/* /* large screen */

@media only screen and (min-width: 1201px) and (max-width: 2000px) {
  /* extra large screen */

  body {
    background-color: #f1f1f3 !important;
    margin-top: 20px !important;
  }

  .btn-link {
    border-radius: 6px !important;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
  }

  .login-button {
    padding: 12px 24px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 8px !important;
  }

  .btn {
    font-size: 14px !important;
    font-weight: 400px !important;
  }

  .nav-link {
    font-size: 14px !important;
    font-weight: 400 !important;
  }

  .margin-top1 {
    margin-top: 80px;
  }

  .main-heading {
    font-size: 38px;
    font-weight: 600;
  }

  .main-paragraph {
    font-size: 16px;
    font-weight: 400;
  }

  .margin-top2 {
    margin-top: 60px;
  }

  .margin-top3 {
    margin-top: 100px;
  }

  .design-section {
    padding: 60px 60px !important;
  }

  .shape {
    bottom: 1px;
    right: 180px;
  }  

  .shape-img {
    height: 264px !important;
    width: 361px !important;
    position: absolute;
    right: -10px;
    bottom: 0px;  
  }

  .btn-orange {
    font-size: 14px !important;
    font-weight: 600 !important;
    border-radius: 6px !important;
    padding: 14px 20px;
  }

  .footer-headings {
    font-size: 18px;
    font-weight: 600;
  }

  .footer-text {
    font-size: 16px !important;
    font-weight: 400 !important;
  }

  .margin-bottom {
    margin-bottom: 10px;
  }

  .margin-bottom2 {
    margin-bottom: 8px;
  }

  .mail-padding {
    padding: 4px;
  }

  .copyright-text {
    font-size: 14px;
  }

  .paragraph {
    font-size: 16px !important;
    font-weight: 400 !important;
  }

  .footer-section {
    padding: 60px 30px 20px 30px;
  }

  .shape-paragraph {
    font-size: 17px !important;
    font-weight: 400;
  }

  .card-body {
    padding: 40px !important;
  }

  .card {
    height: 275px !important;
  }
} 
/* extra large screen completed */




@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  /* 1200px till 1400px */

  body {
    background-color: #f1f1f3 !important;
    margin-top: 20px !important;
  }

  .btn-link {
    border-radius: 6px !important;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
  }

  .login-button {
    padding: 12px 24px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 8px !important;
  }

  .btn {
    font-size: 14px !important;
    font-weight: 400px !important;
  }

  .nav-link {
    font-size: 14px !important;
    font-weight: 400 !important;
  }

  .margin-top1 {
    margin-top: 80px;
  }

  .main-heading {
    font-size: 38px;
    font-weight: 600;
  }

  .main-paragraph {
    font-size: 16px;
    font-weight: 400;
  }

  .margin-top2 {
    margin-top: 60px;
  }

  .margin-top3 {
    margin-top: 100px;
  }

  .design-section {
    padding: 60px 60px !important;
  }

  .shape {
    bottom: 1px;
    right: 180px;
  }  

  .shape-img {
    height: 290px !important;
    width: 290px !important;
    position: absolute;
    right: -48px;
    bottom: 0px;  
  }

  .btn-orange {
    font-size: 14px !important;
    font-weight: 600 !important;
    border-radius: 6px !important;
    padding: 14px 20px;
  }

  .footer-headings {
    font-size: 18px;
    font-weight: 600;
  }

  .footer-text {
    font-size: 16px !important;
    font-weight: 400 !important;
  }

  .margin-bottom {
    margin-bottom: 10px;
  }

  .margin-bottom2 {
    margin-bottom: 8px;
  }

  .mail-padding {
    padding: 4px;
  }

  .copyright-text {
    font-size: 14px;
  }

  .paragraph {
    font-size: 16px !important;
    font-weight: 400 !important;
  }

  .footer-section {
    padding: 60px 30px 20px 30px;
  }

  .shape-paragraph {
    font-size: 17px !important;
    font-weight: 400;
  }

  .card-body {
    padding: 40px !important;
  }

  .card {
    height: 275px !important;
  }
} 
/* 1200px till 1400px */