@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 100;
  font-style: normal;
}
body{
    background-color: #f1f1f3 !important;
    margin-top: 20px !important;
}
.btn-link {
  background-color:#FF9500 !important;
  color: white !important;
   border-radius: 6px !important;
   padding-top: 10px;
   padding-bottom: 10px;
   text-decoration: none !important;
   border: none;
   font-size: 14px;
}
.login-button{
    padding: 12px 24px;
    border-radius: 8px;
    border: none;
    background-color: #FF9500;
    color: white;
    font-size: 14px;
    font-weight: 400;
}
.btn{
    font-size: 14px !important;
    color: #262626 !important;
    font-weight: 400px !important;
}
.nav-link{
    color: #262626 !important;
    font-size: 14px !important;
    font-weight: 400 !important;
}
.margin-top1{
    margin-top: 80px;
}
.main-heading{
    color: #262626;
    font-size: 38px;
    font-weight: 600;
}
.main-paragraph{
    font-size: 16px;
    color: #59595A;
    font-weight: 400px;
}
.margin-top2{
  margin-top: 60px;
}
.margin-top3{
    margin-top: 100px;
}
.design-section{
    background-color: white;
    padding: 60px 60px !important;
}
.orange-color{
    color: #FF9500;
}
.shape{
    position: absolute;
    top: 2008px;
    z-index: 0;
    left: 799px;
}
.shape-img{
    height: 264px !important;
    width: 361px !important;

}
.card{
    border: none !important;
}
.btn-orange{
    background-color: #FF9500;
    font-size: 14px !important;
    font-weight: 600 !important;
    color: white !important;
    border-radius: 6px !important;
    border: none !important;
    padding: 14px 20px;
}
.footer-headings{
font-size: 18px;
font-weight: 600;
color: #262626;
}
.footer-text{
font-size: 16px !important;
 color: #59595A !important;
 font-weight: 400 !important;
}
.margin-bottom{
  margin-bottom: 10px;
}
.margin-bottom2{
  margin-bottom: 8px;
}
.mail-padding{
    padding: 4px;
}
.copyright-text{
  color: #656567;
  font-size: 14px;
}
.paragraph{
  color: #262626 !important;
  font-size: 16px !important;
  font-weight: 400 !important;
}
a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.footer-section{
    background-color:white;
    padding: 60px 80px 20px 80px;
}
.hr-color{
    color: #F1F1F3;
}