body {
  background-color: #f1f1f3;
}

.btn-orange {
  background-color:#FF9500;
  color: white;
  /* width: 80px;
  height: 50px; */
  padding: 14px 34px 14px 34px; 
}

@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 100;
  font-style: normal;
}
.btn-warning {
  background-color:#FF9500;
  color: white;
}
.sub-container{
  border-radius: 11px;
  border: 1px solid #F1F1F3
  
}
.stripe-img{
  position: relative;
  top: 17px;
  right: 28px;

}
.sub-container-text{
  font-weight: 500;
  font-size: 38px;
  color: #262626;
  /* line-height: 57px; */
}  

.unlock {
  color:#FF9500;
  font-weight: 600;
  letter-spacing: 1px;
  size: 48px;
  margin: 0px;
}
h1 span {
  color: #1a1a1a;
  font-weight: 600;
  letter-spacing: 1px;
  size: 48px;
}
.button-large{
  margin-top: 60px;
  border-radius: 8px;
  background: #FF9500;
  padding: 18px 24px;
  color: white;
  border: none;
  
}
.button-medium{
  border-radius: 8px;
  background: #FFFFFF;
  padding: 18px 24px;
  border: 0px solid;
  
}
.margin-top{
  margin-top: 100px;
}
.bg-img{
  background-image: url(./img/container.png);
  height: 790px;
  background-repeat: no-repeat;
  background-size: cover;

}
.benefits-heading{
  font-weight: 600;
  font-size: 48px;
  /* line-height: 72px; */
  color: #262626;
}
.benefits-text{
 font-size: 18px;
 color: #59595A;
 /* line-height: 27px; */
}
.view-button{
  background-color: #FCFCFD;
  padding: 18px 24px;
  border: none;
  font-weight: 500;
}
.bold-numbers{
  font-weight: 700;
  font-size: 80px;
  /* line-height: 24px; */
  color: #262626;
  margin-bottom: 0;
  
}
.card-heading{
  font-weight: 600 !important;
  font-size: 24px;
  /* line-height: 36px; */
  color: #333333;
  margin-bottom: 0;
}
.card-text{
  font-size: 18px;
  color: #4C4C4D;
}
.card-height{
  height: 477px;

}
.weeks{
  padding: 10px 16px;
  color: #4C4C4D;
  border-radius: 8px;
  background-color: #FFFFFF;
  border: 1px solid #F1F1F3;
  gap: 10px;
}
.teachers{
  font-size: 20px;
  font-weight: 500;
  color: #262626;
}
.card-heading2{
  font-size: 24px;
  font-weight: 600;
  color: #262626;
}
.card-button{
  font-weight: 500;
  font-size: 18px;
  color: #262626;
  background-color:#F7F7F8;
  border-radius: 8px;
  padding: 18px 24px;
  border: 1px solid #F1F1F3;

}
.card-button:hover{
  background-color: #FF9500;
  
}
.card-names{
  font-size: 18px;
  font-weight: 600;
  color:#333333;
}
.card-body{
  padding: 30px 50px;
  background-color: #FFFFFF;

}
.read-button{
  font-size: 18px;
  padding: 18px 24px;
  border-radius: 8px;
  border: 1px solid #F1F1F3;
  background-color: #F7F7F8;
  font-weight: 500;
  color: #262626;
}
hr{
  color: #F1F1F3;
  margin: 0px;
}
.tabs{
  padding: 12px 12px;
  border-radius: 8px;
  background-color: #FFFFFF;
}
.monthly-button{
  padding: 14px 30px;
  border: none;
  border-radius: 6px;
  background-color: #FF9500;
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;

}
.yearly-button{
  padding: 14px 30px;
  border: none;
  background-color: #FFFFFF;
  font-weight: 500;
  font-size: 18px;
  color: #4C4C4D;
}

.membership-card{
  border-radius: 12px;
  border: 1px solid #F1F1F3;
  background-color: #FCFCFD;
}
.padding{
  padding: 80px;
}
.free-plan{
  padding: 12px 22px;
  border-radius: 6px;
  border: 1px solid #FFEACC;
  background-color: #FFF9F0;
  font-size: 22px;
  font-weight: 500;
  color: #262626;

}
.price{
  font-size: 80px;
  font-weight: 600;
  color: #262626;
}
.month{
  font-size: 20px;
  font-weight: 500;
  color: #4C4C4D;
}
.heading{
  font-size: 20px;
  font-weight: 500;
  color: #262626;

}
.items-container{
  padding: 0px 30px;
}
.feature-items{
  padding: 14px;
  border-radius: 8px;
  border: 1px solid #F1F1F3;
}
.padding2{
  padding: 12px;
}
.padding3{
  padding: 50px 30px 30px 30px;
}
.get-started{
  background-color: #FF9500;
  padding: 20px 24px;
  border: none;
  color: #FFFFFF;

}
.get-started-text{
  font-weight: 600;
  font-size: 18px;
  color: #FFFFFF;
}
.padding4{
  padding: 100px;
}
.faq-text{
font-size: 18px;
  color: #4C4C4D;
  margin-top: 10px;
  margin-bottom: 0px;
}
.faq-card1{
  border: 1px solid #F1F1F3;

}
.sub-container2{
padding: 20px 30px;
font-size: 18px;
font-weight: 500;
color: #333333;
border-radius: 12px;
border: 1px solid #F1F1F3;
background-color: #F7F7F8;

}
.padding5{
  padding-top: 30px;

}
.faq-card2{
  padding: 50px 30px;
  border: 1px solid #F1F1F3;
  background-color: #FFFFFF;
  border-radius: 12px;
  font-size: 20px;
  font-weight: 500;
  color: #262626;
}
.footer-section{
background-color: white;
padding: 100px 162px 30px 162px; 
}
.margin-top2{
  margin-top: 142px;
}
.footer-headings{
font-size: 20px;
font-weight: 600;
color: #262626;

}
.margin-bottom{
  margin-bottom: 14px;
}
.margin-bottom2{
  margin-bottom: 8px;
}
hr{
  color: #F1F1F3;
}
.copyright-text{
  color: #656567;
  font-size: 18px;
}
.paragraph{
  color: #262626;
  font-size: 18px;
  
}